<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>To Do List</title>
    <style type="text/css">
      .todo-tasks, .completed-tasks {
        list-style-type: none;
        padding-left: 0;
      }

      .todo-tasks li {
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>

    <div class="page">
      <div class="add-form">
          <h1>Todo</h1>
          <div>
            <input id="addToDoInput" type="text" name="todo" placeholder="What needs to be done?" />
            <button id="addToDoButton" name="add-task">Add todo</button>
          </div>
          <ul class="todo-tasks">
            {{#todos}}
              {{^complete}}
              <li>
                <input type="checkbox" name="{{text}}" value="{{id}}" id="{{id}}" class="checkboxInput" data-text="{{text}}">
                <label for="{{id}}">{{text}}</label>
              </li>
              {{/complete}}
              {{#complete}}
                <li>
                  <input type="checkbox" name="{{text}}" value="{{id}}" id="{{id}}" class="checkboxInput" data-text="{{text}}" checked>
                  <label for="{{id}}"> {{text}}</label>
                </li>
              {{/complete}}
            {{/todos}}
            {{^todos}}
              <li>Mission Accomplished</li>
            {{/todos}}
          </ul>
      </div>
    </div>
    <script src="/views/main.js" charset="utf-8"></script>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
